@import './sass/sizes';

#root {
	$height: 100vh;

	font-family: 'Roboto', sans-serif;
	height: $height;
}

.card {
	height: $fill;

	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin-bottom: 2rem;

	.image {
		$height: 284px;

		background-image: url(./assets/images/illustration-sign-up-mobile.svg);
		background-repeat: no-repeat;
		width: $fill;
		height: $height;
	}
}
